<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Register</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

  <script src="https://cdnjs.cloudflare.com/ajax/libs/babel-polyfill/7.0.0/polyfill.js"></script>
  <script src="https://unpkg.com/@adonisjs/websocket-client"></script>

</head>
<body class="py-4">
  @!section('content')

<script>
  // const ws = adonis.Ws('ws://localhost:3333')

  // ws.connect()

  // const chat = ws.subscribe('chat')


  // chat.emit('message', {
  //   message: 'Hi'
  // })

  // post.on('postCreated', (post) => {
  //   alert(post.title);
  // })


</script>
</body>
</html>
